* {
	margin: 0;
	text-size-adjust: none;
}
/*링크*/
a{
	color:black;
	text-decoration: none;
}
/*첫번째 제목*/
h1{
	font-size:45px;
	text-align:center;
	margin:0px;
	padding:10px;
}
h2:after{
	content: "";
	display: block;
	width: 900px;
	border-bottom: 1px solid;
	margin: 20px;
}
/*순서 정렬*/
ol{
	margin:0px;
	width:auto;
	height: auto;
	padding-left:auto;
	padding-top:auto;
	padding-bottom: 10px;
}
/*하단란*/
.footer{
	padding: 100px;
	position: relative;
}
#article {
	padding-top: 30px;
	padding-bottom: 30px;
	width: auto;
}
#list{
	border-collapse: collapse;
}
.pagination{
	padding-bottom: 50px;
	text-align: center;
}
.pageNum{
	padding: 40px;
}
ul{
	padding: 0;	
}
.profile_img{
	margin: 0px;
	padding: 0px;
}
.title_label{
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
 	white-space: nowrap;
}
.desc_label{
	overflow: hidden;
  	text-overflow: ellipsis;
 	white-space: nowrap;
	color: #505050;
	/* table-layout: fixed; */
}
.nick_label{
	color: #505050;
	font-weight: bold;
}
.list_layout{
	table-layout: fixed;
	width: 100%;
}
.blank_post{
	height: 160px;
}
.create-group{
	padding:0;
	margin: 0;
	display:inline-block;
}
.login-request-notice{
	margin: 0;
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: middle;
	background-color: lightgray;
}
/* FOOTER */
.footer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
	background-color: gray;
	width: 100%;
}
.mobile_footer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
	width: 100%;
	background-color: gray;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 33%;
}
/* DARK MODE */
.dark-mode{
	background: #000;
	color: #fff;
}
/* .theme-container{
	top: 140px;
	right: 173px;
	position: absolute;
	height: 50px;
}

.theme-container .toggle{
	
	position: absolute;
	width: 150px;
	height: 70px;
	background: black;
	border-radius: 30px;
}

.theme-container .toggle .toggle-btn{
	top: 10px;
	left: 10px;
	position: absolute;
	width: 50px;
	height: 50px;
	background: lightgray;
	border-radius: 50%;
}

.theme-container .toggle.active{
	background: cornflowerblue;
}

.theme-container .toggle.active .toggle-btn{
	background: yellow;
	left: 80px;
} */

/*컴퓨터 해상도*/
@media(min-width: 1000px){
	h2:after{
		width: auto;
		margin: 0px;
		margin-top: 20px;
		margin-bottom: 0px;
		border-bottom: 1px solid #bcbcbc;
	}
	p{ font-size:20px; }
	img{
		width:20%;
		padding: 5px;
		margin: 0 auto;
		margin-top: 45px;
		display: block;
		border: 2px solid gray;
	}
	.nav{
		background-color: lightgray;
		width: 100%;
		border:1px solid black;
	}
	.nav_header{ padding:1%; }
	#article{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 90px;
		padding-right: 70px;
		border:1px solid;
		margin-right: 100px;
		margin-left: 100px;
		margin-top: 50px;
	}
	.list{
		padding: 50px;
		margin-right: 50px;
		margin-left: 50px;
	}
	.title{
		padding: 30px;
		width: 635px;
		font-size: 20px;
	}
	.description{
		font-size: 18px;
		width: 500px;
		padding-top: 30px;
		padding-left: 35px;
		padding-bottom: 300px;
		padding-right: 160px;
	}
	.create-group{
		/* display:block; */
		margin-top: 20px;
	}
	#comment_content{
		margin-top: 20px;
		width: 800px;
		height: 100px;
		font-size: 20px;
	}
	#comment_submit_btn{
		font-size: 20px;
	}
	.nav_btn{
		margin: 0;
	}
	.profile_img{
		width: 60px;
		height: 60px;
	}
	.profile_label{
		padding-right: 20px;
	}
	.footer{
		padding-left: 44%;
		padding-top: 20px;
		position: absolute;
		border-top: 1px solid black;
	}
	.blank_post{
		height: 60px;
	}
	.login-request-notice{
		font-size: 23px;
		margin-top: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
/*모바일 해상도*/
@media(max-width: 1000px){
	h1{
		border-bottom:none;
		font-size: 90px;
		text-align: center;
	}
	h2{ font-size: 50px; }
	h2:after{
		width: 770px;
		margin: 20px auto;
		margin-bottom: 10px;
		border-bottom: 1px solid #bcbcbc;
	}
	ol{
		font-size: 50px;
		padding-top: 20px;
		padding-left: 100px;
	}
	p{ font-size:45px; }
	img{ width:100%; }
	.button{
		font-size: 50px;
		padding: 30px;
	}
	.nav_header{
		padding:10px;
		display: block;
		background-color: gray;
	}
	.nav_btn{
		padding: 10px;
		font-size: 50px;
		display :inline-block;
	}
	.nav_account_btns {
		text-align: center;
	}
	.nav_post_btns {
		text-align: center;
	}
	.list{
		margin: 0px;
		height: auto;
		padding: 30px;
		font-size: 50px;
	}
	#list{
		padding: 100px;
		margin: 0px;
	}
	#article{
		font-size:45px;
		border: 1px solid gray;
		width: auto;
		margin: 30px;
		padding: 50px;
	}
	.title{
		width:800px;
		height: 150px;
		font-size: 50px;
	}
	.description{
		width: 800px;
		font-size: 50px;
		padding-bottom: 300px;
		display :inline-block;
	}
	.create-group{
		padding:0;
		margin: 0;
		margin-top: 50px;
		display:inline-block;
	}
	#comment_content{
		width: 900px;
		height: 200px;
		font-size: 50px;
	}
	#comment_submit_btn{
		width: 200px;
		height: 100px;
		font-size: 50px;
	}
	.login-request-notice{
		font-size: 45px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.pagination{
		font-size: 50px;
		text-align: center;
	}
	.profile_img{
		width: 150px;
		height: 150px;
	}
	.title_lable{
		font-size: 10%;
	}
	.profile_label{
		padding-right: 120px;
	}
	.blank_post{
		height: 160px;
	}
	.footer{
		padding-top: 4%;
		padding-bottom: 4%;
		padding-left: 33%;
	}
}